## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [3]:
# 1) Seu código aqui
percentual_df_mat = (df_mat/24) * 100
print(percentual_df_mat['Qt_acertos'])

percentual_df_por = (df_por/18) * 100
print(percentual_df_por['Qt_acertos'])

percentual_df_geo = (df_geo/8) * 100
print(percentual_df_geo['Qt_acertos'])

percentual_df_ing = (df_ing/8) * 100
print(percentual_df_ing['Qt_acertos'])

percentual_df_his = (df_his/8) * 100
print(percentual_df_his['Qt_acertos'])

percentual_df_fis = (df_fis/12) * 100
print(percentual_df_fis['Qt_acertos'])

percentual_df_qui = (df_qui/12) * 100
print(percentual_df_qui['Qt_acertos'])

0     25.000000
1     79.166667
2     58.333333
3     41.666667
4     29.166667
        ...
95    25.000000
96    33.333333
97    95.833333
98     0.000000
99    45.833333
Name: Qt_acertos, Length: 100, dtype: float64
0     38.888889
1     55.555556
2     88.888889
3     38.888889
4     11.111111
        ...
95    22.222222
96     5.555556
97    27.777778
98    55.555556
99    83.333333
Name: Qt_acertos, Length: 100, dtype: float64
0     87.5
1      0.0
2      0.0
3     37.5
4     25.0
      ...
95    87.5
96    50.0
97     0.0
98    37.5
99     0.0
Name: Qt_acertos, Length: 100, dtype: float64
0     37.5
1      0.0
2     62.5
3     50.0
4     87.5
      ...
95    12.5
96    75.0
97    25.0
98    12.5
99    12.5
Name: Qt_acertos, Length: 100, dtype: float64
0     12.5
1      0.0
2     87.5
3      0.0
4      0.0
      ...
95    50.0
96    12.5
97    50.0
98    62.5
99    75.0
Name: Qt_acertos, Length: 100, dtype: float64
0     66.666667
1     91.666667
2     33.333333
3      0.000000
4     75.000000
        ...
95    75.000000
96    33.333333
97     8.333333
98    83.333333
99    58.333333
Name: Qt_acertos, Length: 100, dtype: float64
0     25.000000
1     66.666667
2     33.333333
3     66.666667
4     25.000000
        ...
95    25.000000
96    25.000000
97    41.666667
98    91.666667
99    16.666667
Name: Qt_acertos, Length: 100, dtype: float64

In [4]:
# 2) Seu código aqui
total_acertos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total_acertos

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [6]:
# 3) Seu código aqui
percentual_alunos = (total_acertos / 100) * 100
percentual_alunos

    Qt_acertos
0         35.0
1         48.0
2         50.0
3         32.0
4         30.0
..         ...
95        34.0
96        27.0
97        40.0
98        40.0
99        42.0

[100 rows x 1 columns]

In [7]:
# 4) Seu código aqui
alunos_acima = percentual_alunos['Qt_acertos'] >= 45.0
alunos_acima
qt_true = alunos_acima.sum()
print("A quantidade de alunos aprovados foi:", qt_true)

A quantidade de alunos aprovados foi: 34

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [45]:
# seu código aqui
#alunos_zero = pd.DataFrame(df_mat['Qt_acertos'] == 0)
#alunos_zeros = pd.DataFrame(alunos_zero['Qt_acertos'] = True)
#alunos_zeros
#df_mat
df_alunos_zero_mat = pd.DataFrame(df_mat[df_mat['Qt_acertos'] == 0])
print(df_alunos_zero_mat)
df_alunos_zero_fis = pd.DataFrame(df_fis[df_fis['Qt_acertos'] == 0])
print(df_alunos_zero_fis)
df_alunos_zero_qui = pd.DataFrame(df_qui[df_qui['Qt_acertos'] == 0])
print(df_alunos_zero_qui)
df_alunos_zero = df_alunos_zero_mat + df_alunos_zero_fis + df_alunos_zero_qui
#df_alunos_zero_mat_fis = pd.merge(df_alunos_zero_mat, df_alunos_zero_fis)
#df_alunos_zero = pd.merge(df_alunos_zero_mat_fis, df_alunos_zero_qui, how = 'outer')
num_alunos = df_alunos_zero.shape[0]
print("A quantidade de alunos zerados é:", num_alunos)

    Qt_acertos
25           0
94           0
98           0
    Qt_acertos
3            0
6            0
12           0
26           0
35           0
49           0
56           0
65           0
66           0
72           0
73           0
84           0
    Qt_acertos
10           0
14           0
20           0
26           0
27           0
33           0
74           0
89           0
92           0
A quantidade de alunos zerados é: 23

In [25]:
df_alunos_zero_mat_his = pd.DataFrame(df_his[df_mat['Qt_acertos'] == 0])
print(df_alunos_zero_mat_his)
df_alunos_zero_mat_geo = pd.DataFrame(df_geo[df_mat['Qt_acertos'] == 0])
print(df_alunos_zero_mat_geo)
df_alunos_zero_fis_his = pd.DataFrame(df_his[df_fis['Qt_acertos'] == 0])
print(df_alunos_zero_fis_his)
df_alunos_zero_fis_geo = pd.DataFrame(df_geo[df_fis['Qt_acertos'] == 0])
print(df_alunos_zero_fis_geo)
df_alunos_zero_qui_his = pd.DataFrame(df_his[df_qui['Qt_acertos'] == 0])
print(df_alunos_zero_qui_his)
df_alunos_zero_qui_geo = pd.DataFrame(df_geo[df_qui['Qt_acertos'] == 0])
print(df_alunos_zero_qui_geo)

media_his = (df_alunos_zero_mat_his['Qt_acertos'].sum() + df_alunos_zero_fis_his['Qt_acertos'].sum() + df_alunos_zero_qui_his['Qt_acertos'].sum()) / 8
print("Média em história: ",media_his)

media_geo = (df_alunos_zero_mat_geo['Qt_acertos'].sum() + df_alunos_zero_fis_geo['Qt_acertos'].sum() + df_alunos_zero_qui_geo['Qt_acertos'].sum()) / 8
print("Média em geografia: ",media_geo)

    Qt_acertos
25           0
94           1
98           5
    Qt_acertos
25           7
94           2
98           3
    Qt_acertos
3            0
6            5
12           1
26           7
35           3
49           1
56           6
65           3
66           3
72           7
73           3
84           1
    Qt_acertos
3            3
6            7
12           3
26           6
35           6
49           1
56           7
65           2
66           3
72           3
73           2
84           0
    Qt_acertos
10           1
14           1
20           6
26           7
27           7
33           6
74           5
89           6
92           1
    Qt_acertos
10           3
14           1
20           6
26           6
27           1
33           0
74           0
89           7
92           1
Média em história:  10.75
Média em geografia:  10.0

In [29]:
df_alunos_mat = pd.DataFrame(df_mat[df_mat['Qt_acertos'] > 0])
print(df_alunos_mat)
df_alunos_mat_passou = pd.DataFrame(df_alunos_mat[df_mat['Qt_acertos'] > 0])
df_alunos_fis = pd.DataFrame(df_fis[df_fis['Qt_acertos'] > 0])
print(df_alunos_fis)
df_alunos_qui = pd.DataFrame(df_qui[df_qui['Qt_acertos'] > 0])
print(df_alunos_qui)
df_alunos_passou = df_alunos_mat.shape[0] + df_alunos_fis.shape[0] + df_alunos_qui.shape[0]
df_alunos_passou

    Qt_acertos
0            6
1           19
2           14
3           10
4            7
..         ...
93          12
95           6
96           8
97          23
99          11

[97 rows x 1 columns]
    Qt_acertos
0            8
1           11
2            4
4            9
5            9
..         ...
95           9
96           4
97           1
98          10
99           7

[88 rows x 1 columns]
    Qt_acertos
0            3
1            8
2            4
3            8
4            3
..         ...
95           3
96           3
97           5
98          11
99           2

[91 rows x 1 columns]

276

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [5]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-17c92a5b-055b-4f11-85b6-7b37fa3ddd51.c000.csv'

In [38]:
# 1) Sua solução aqui
vacAcre = pd.read_csv(arquivo, sep=';')

In [8]:
# 1) 
qtd_vacinas = vacAcre.shape[0]
print('A quantidade de vacinas registradas na base é: ', qtd_vacinas)

A quantidade de vacinas registradas na base é:  390911

In [9]:
# 2)
qtd_pacientes = vacAcre['paciente_id'].nunique()

print('A quantidade de pacientes vacinados é:', qtd_pacientes)

A quantidade de pacientes vacinados é: 318850

In [12]:
# 3) solução alternativa
vacAcre.head(5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,b63af233-21d8-4af7-9aa9-3f8ff6285753-i0b0,3fdd86b8842269eda2dd906eb0aa15473ae1b5f8e64f1c...,49,1972-03-16,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-25,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,fad14228-9e6e-4895-8dd5-d590bceaa136-i0b0,9f7c6a218929e7cd3763aaf6174b3bd104a79d5f9fb796...,16,2005-06-27,M,99,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FD7221,PFIZER,Organization/00394544000851,2021-08-13,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,ad099eee-6582-4fa0-ac02-c520237d7eed-i0b0,f56c5670b9907b8ca51387a37b67dfe41a203b3688bbe1...,20,2001-01-15,M,5,INDIGENA,120035.0,10.0,MARECHAL THAUMATURGO,...,7.0,Povos Indígenas,219VCD268W,ASTRAZENECA/FIOCRUZ,Organization/149,2022-01-12,Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
3,fadbea84-381c-4e84-920c-fdd146d96744-i0b0,59ea685f572ee8be8c48fef8962167a2b96ab5627613a2...,30,1993-11-30,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,21.0,Gestantes,230165,BUTANTAN,152,2024-03-05,Única,33,INF3,Novo PNI
4,bdad6954-8116-4dc1-8399-6ac77025deab-i0b0,ee602301bbb261956818bd58c5b213051e0347020e72c0...,49,1974-04-25,F,3,PARDA,130260.0,10.0,MANAUS,...,2.0,Faixa Etária,230165,BUTANTAN,152,2023-12-08,Única,33,INF3,Novo PNI

In [29]:
# 3)
vacAcreCopy = vacAcre.loc[vacAcre['vacina_descricao_dose'] == '1ª Dose']
qtd_1dose = vacAcreCopy['paciente_id'].nunique()
print(qtd_1dose, 'pacientes tomaram a primeira dose da vacina.')

143754 pacientes tomaram a primeira dose da vacina.

In [43]:
# 4)
#vacAcreAbaixo18 = vacAcre.loc[vacAcre['paciente_idade'] < 18]
#vacAcreAbaixo18
vacAcre['paciente_idade'] = vacAcre['paciente_idade'].astype(int)
vacAcre.dtypes

vacAcreAbaixo18 = vacAcre.loc[vacAcre['paciente_idade'] < 18]
vacAcreAbaixo18_2 = vacAcreAbaixo18['paciente_id'].nunique()
#vacinadosabaixode18 = vacAcreAbaixo18_2.shape[0]
print(vacAcreAbaixo18_2, 'pacientes abaixo de 18 anos foram vacinados.')

69726 pacientes abaixo de 18 anos foram vacinados.

In [ ]:
# 5)

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1)

In [ ]:
# 2)

In [ ]:
# 3)

In [ ]:
# 4)

In [ ]:
# 5)